version : "3.8"
services:
  webapp:
    build: <image_name>:tag | .
    restart: unless-stopped
    ports:
      - "5000:5000"
      - "80:80"
    volumes:
      - .:/app
      - log_vol:/var/log
    networks:
      - backend
    env_file:
      - <env_file>
    command: bash -c "./entrypoint.sh"
    depends_on:
      - db
  db:
   image: mysql:latest
   volumes:
     - db_data:/var/lib/mysql
   restart: always
   environment:
     MYSQL_ROOT_PASSWORD: somewordpress
     MYSQL_DATABASE: wordpress
     MYSQL_USER: wordpress
     MYSQL_PASSWORD: wordpress


networks:
  backend
volumes:
  log_vol
  db_data
